* {
  margin: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
body {
  width: 1280px;
  text-align: center;
  font-family: "Montserrat";
}
.header {
  display: block;
}
.list {
  padding: 25px 296px;
}
.link {
  color: #ff0000;
  letter-spacing: 2.7px;
  line-height: 18px;
  padding-left: 61px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.image {
  background-size: 100%;
  display: block;
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  color: #373737;
  padding: 48px 253px 38px 253px;
  line-height: 27px;
  letter-spacing: 3.3px;
  font-size: 22px;
}

.contentFirst {
  color: #373737;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 26px;
  padding-left: 68px;
  padding-right: 68px;
  padding-bottom: 28px;
}
.contentSecond {
  color: #373737;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: 26px;
  padding-left: 68px;
  padding-right: 68px;
  margin-bottom: 66px;
}
.button {
  background-color: #ff0000;
  border-style: none;
  color: #ffffff;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.8px;
  border-radius: 4px;
  width: 191px;
  height: 51px;
}

.footer{
    padding: 82px 105px 29px 700px;
}
.footer-text {
  text-align: end;
  color: #373737;
  font-weight: 700;
  letter-spacing: 2.4px;

}
